name: Run Python script

on:
  push:
    branches: ["develop"]

jobs:
  run_python:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Run python script
        run: python hello.py
        
          
        
          
                
        
