# name: first Workflow #name of the workflow
# on: 
#   push: 
#     branches: [ "ak_actions" ]  # 

# jobs:                 # jobs is inbulit keyword no changes ever
#   first-job: #this we can change whatever we want
#     runs-on: ubuntu-latest #in which machine u want to run and run-on is built in
    
#     steps: #what u want as output 
#       - name: print greeting
#         run: echo "hello i am ak"
     
#       - name: print goodbye
#         run: echo "goodbye "

# name: Hello London
# on: 
#   workflow_dispatch:

# jobs: 
#   said_hello:
#     runs-on: ubuntu-latest
#     steps:
#       - run: echo "hello world"

# name: Environment variables
# on:
#   workflow_dispatch:
# env:
#   WORKFLOW_VAR: I_AM_WORKFLOW_SCOPED

# jobs:
#   job-1:
#     runs-on: ubuntu-latest
#     env:
#       JOB_VAR: I_AM_JOB_SCOPED
#     steps:
#       - name: inspect scopes job 1 step 1
#         env:
#           STEP_VAR: I_AM_STEP_SCOPED
#         run: |
#           echo "WORKFLOW_VAR: $WORKFLOW_VAR"
#           echo "JOB_VAR: $JOB_VAR"
#           echo "STEP_VAR: $STEP_VAR"

name: passing variables between jobs
on:
  workflow_dispatch:

jobs: 
  producer:
    runs-on: ubuntu-latest

    outputs:
      foo: ${{steps.generate-foo.outputs.foo}}
    steps:
      - name: generate and export foo
        id: generate-foo
        run: |
          foo-bar 
          # 1)step output(for job output)
          echo "foo=${foo}" >> "$GUTHUB_OUTPUT"

          # 2) job-scoped environment variable
          echo "FOO=${foo}" >> "$GITHUB_ENV"
      
      - name: inspect values inside producer
        run: |
          echo "FOO (set via GITHUB_ENV):  $FOO"
          echo "foo (step output):         ${{steps.generate-foo.outputs.foo}}"
  
  consumer:
    runs-on: ubuntu-latest
    needs: producer
    steps:
      - name: Inspect values inside consumer (note FOO is unset)
        run: |
          echo "values from producer: ${{needs.producer.outputs.foo}}"
          echo "FOO in consumer":     ${FOO:-<UNSET>}

